<h1>Dashboard</h1>

<div id="categories" class="d-flex gap-3" data-controller="sortable" data-sortable-target="categories">
  <%= render 'categories/uncategorized_tasks' %>
  <%= render 'categories/categories', categories: @categories %>
</div>
