.mh-55 {
  min-height: 55px;
}

.x-overflow-scrolling {
  overflow-x: scroll;
  white-space: nowrap;
}

#task-content {
  position: fixed;
  top: 0;
  right: -100%; /* Initially off-screen to the right */
  width: 30%; /* Adjust the width as needed */
  height: 100%;
  background-color: white;
  transition: right 0.3s ease; /* Add a smooth transition effect */
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto; /* Enable scrolling if content overflows */
}

.task-details-container {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.task-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.task-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.task-meta {
  font-size: 14px;
  color: #777;
}

.close-button {
  position: absolute; /* Add absolute positioning */
  top: 10px; /* Adjust top position as needed */
  right: 10px; /* Adjust right position as needed */
  width: 20px;
  height: 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  transition: color 0.3s ease; /* Add a color transition effect */
}

.close-button:hover {
  color: #ff6347; /* Change color on hover */
}

.category-card > .card-body {
  max-height: calc(100vh - 127px);
  overflow-y: hidden;
  scroll-padding-bottom: 24px;
  scroll-padding-top: 24px;
  padding-right: 20px;
}

.category-card > .card-body:hover {
  overflow-y: auto;
  padding-right: 5px;
}

.task-item .card-body {
  position: relative;
}

.task-item i.task-handle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

.title {
  flex-grow: 1;
  margin-right: 1rem;
}
