<li class="list-unstyled task-item" data-task-id="<%= task.id %>">
  <div class="card">
    <div class="card-body">
      <i class="bi bi-arrows-move task-handle pr-3"></i>
      <p class="card-text text-wrap">
        <%= task.title %>
      </p>
    </div>
  </div>
</li>
