<div class="task-details-container h-100">
  <h4 class="task-title"><%= task.title %></h4>
  <button class="close-button" id="close-details" data-action="task#close">&times;</button>
  <p class="task-description"><%= task.description %></p>
  <p class="task-meta">Due Date: <%= task.due_date %></p>
  <p class="task-meta">Status: <%= task.status %></p>
</div>