<%= turbo_frame_tag 'uncategorized'  do %>
  <div class="card category-card item" style="min-width: 350px;">
    <h5 class="card-header mh-55 d-flex align-items-center">
      Uncategorized
    </h5>
    <div class="card-body">
      <ul class="p-0" data-category-id="nil" data-sortable-target="tasks">
        <% @tasks.each do |t| %>
          <li class="task-item list-unstyled" data-task-id="<%= t.id %>">
            <i class="bi bi-arrows-move task-handle pr-3"></i>
            <%= t.title %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
